@use '@/styles/variables/z-index';
@use '@/styles/mixins/elements-style';
@use '@/styles/variables/colors';

.title {
  margin-bottom: 8px;
}

.subtitle {
  color: colors.$black;
  margin-bottom: 20px;
}

.typeDescription {
  color: colors.$black;
  padding: 10px 0;
}

.box {
  padding-top: 10px;
  @include elements-style.flex-column;
  width: 100%;
  color: colors.$black;
  font-family: 'IBM Plex Mono', monospace;

  &__title {
    display: flex;
    flex-wrap: wrap;
  }

  &__description {
    color: colors.$light-gray;
    font-size: 14px;
    font-family: 'Helvetica Neue', sans-serif;
  }

  &__filter {
    flex-direction: row;
  }
}
