@use '@/styles/variables/z-index';
@use '@/styles/mixins/elements-style';
@use '@/styles/variables/colors';

.wrapper {
  padding: 15px;
  height: 100%;
  background-color: colors.$white;
  position: absolute;
  border-radius: 10px;
  width: 100%;

  &_tablet {
    padding: 15px;
    transition: 0.5s;
    width: 60vw;
    height: 100%;
    top: 0;
    left: -65vw;
    z-index: z-index.$moving-documentation;
    border-top-right-radius: 20px;
    overflow: scroll;

    @media screen and (max-width: 700px) {
      width: 100vw;
      left: -105vw;
    }
  }

  &_tabletOpen {
    left: 0;
  }
}

.title {
  margin-bottom: 20px;
}

.objectDescription {
  padding: 10px 0;
}

.fields {
  padding-top: 10px;
}

.field {
  display: flex;
}

.heading {
  font-size: 16px;
}

.close {
  position: absolute;
  top: 13px;
  right: 13px;
  @include elements-style.button-style-reset;
  transition: 0.5s;

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.17);
  backdrop-filter: blur(5px);
  z-index: z-index.$doc-background;
}
