@use '@/stylesheets/variables/colors';
@use '@/stylesheets/mixins/elements-style.scss';

.main {
  display: flex;
  justify-content: space-between;
  min-height: 100vh;
  color: colors.$gray-blue;
  background-color: colors.$super-light-gray;

  &__documentation {
    flex: 1 1 25%;
  }

  &__request {
    flex: 1 1 40%;
    @include elements-style.flex-column;
    background-color: colors.$white;
    border-radius: 10px;
  }

  &__response {
    flex: 1 1 35%;
  }
}
