@use '@/styles/variables/colors';

.wrapper {
  display: flex;
}

.type {
  color: colors.$orange;
  border-bottom: 1.5px solid transparent;
  transition: 0.3s;

  &:hover {
    cursor: pointer;
    border-bottom: 1.5px solid colors.$orange;
  }
}

.name {
  margin-right: 3px;
}

.argument {
  margin-right: 5px;
}
