$white: #FFFFFF;
$black: #000000;
$blue-gray: #777F8E;
$gray-blue: #4F68A3;
$blue-gray-darker: #5A6270;
$blue: #3254CB;
$half-dark-gray: #646464;
$violet: #3F20BA;
$bright-blue: #2D5BE3;
$gray-white: #DEE2E7;
$super-light-gray: #F4F6F8;
$transparent-white: rgba(255, 255, 255, 0.2);
$light-gray: #B2B9C3;
$dark-blue: #1053A0;
$super-dark-blue: #1B2240;
$dark-aquamarine: #1D7B78;
$dark-gray: #333333;
$dark-violet: #383D5B;
$shadow-blue: #566992;
$half-light-gray: #CAD0D8;
$super-light-gray: #ECECEC;
$purple: #7156D9;
