$white: #ffffff;
$black: #000000;
$blue-gray: #777f8e;
$gray-blue: #4f68a3;
$blue-gray-darker: #5a6270;
$blue: #2170C9;
$half-dark-gray: #646464;
$violet: #3f20ba;
$bright-blue: #2d5be3;
$gray-white: #dee2e7;
$super-light-gray: #f4f6f8;
$transparent-white: rgba(255, 255, 255, 0.2);
$light-gray: #b2b9c3;
$dark-blue: #0F539E;
$super-dark-blue: #1b2240;
$dark-aquamarine: #1ca9a4;
$dark-gray: #333333;
$dark-violet: #383d5b;
$shadow-blue: #566992;
$light-shadow-blue: rgb(119 127 166);
$half-light-gray: #cad0d8;
$purple: #7156d9;
$transparent-violet: rgba(63, 32, 186, 0.31);
$red: rgb(214, 0, 0);
