@use '@/styles/variables/colors';
@use '@/styles/mixins/elements-style';

.request {
  @include elements-style.flex-column;
  flex-grow: 1;
  padding: 15px 20px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  &__heading {
    font-weight: 600;
    font-size: 16px;
  }

  &__variablesOpen {
    max-height: 600px;
  }
}

.runBtn {
  padding: 4px 8px;
  color: colors.$white;
  font-weight: 500;
  font-size: 14px;
  border-radius: 4px;
  display: flex;
  gap: 8px;
  transition: 0.2s;

  &_active {
    background-color: colors.$blue;
    border: 2px solid colors.$dark-blue;

    &:hover {
      cursor: pointer;
      transform: scale(1.05);
      background-color: colors.$dark-blue;
    }
  }

  &_disable {
    background-color: colors.$light-gray;
    border: 2px solid colors.$blue-gray;
  }
}
