@use '@/styles/mixins/elements-style';
@use '@/styles/variables/colors';

.response {
  @include elements-style.flex-column;
  flex-grow: 1;

  &__heading {
    padding: 15px 0;
    font-size: 16px;
  }

  @media screen and (max-width: 700px) {
    margin-bottom: 30px;
  }
}
