@use '@/styles/mixins/elements-style';
@use '@/styles/variables/colors';

.response {
  @include elements-style.flex-column;
  flex-grow: 1;

  &__heading {
    margin: 15px 0;
    font-size: 16px;
  }

  &__editor {
    flex-grow: 1;
    padding: 15px 0;
    background-color: colors.$white;
    border-radius: 10px;
    overflow: hidden;
  }

  @media screen and (max-width: 700px) {
    margin-bottom: 30px;
  }
}
