@mixin center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin link-style-reset {
  text-decoration: none;
  color: black;
  display: block;
}

@mixin button-style-reset {
  border: 0;
  padding: 0;
  background: none repeat scroll 0 0 transparent;
}

@mixin input-icon($url) {
  background-image: url($url);
  background-repeat: no-repeat;
  background-position: right 15px center;
  background-size: 30px;
}

@mixin auth-input {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  border-radius: 4px;
}
